<!DOCTYPE html>
<html>
<head>

    <title>Hello WebSocket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script> DisplayImages('images/upcomingitem1.png'); </script>
</head>
<body>
<body onload="setConnected(connect())">
</body>
<body>
<style>
     {
        position: absolute;
        top: 80%;
    }

    body {
        background-image: url(https://www.linkpicture.com/q/chatpng_1.png);

    }

</style>
</body>
<noscript><h2 style="color: #800080"></h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">

            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline" style="accent-color: black" >
                <div class="form-group">
                    <label for="nickname">Nickname</label>
                    <input type="text" id="nickname" class="form-control" required="required" pattern="[A-Z][a-z]{2-8}[0-9]{1,3}">>
                    <label for="name">Message</label>
                    <input type="text" id="name" class="form-control" required="required" placeholder="Your message here...">
                </div>
                <button id="send" class="btn btn-default" type="submit">Send</button>

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped" style="background-color: beige">
                <thead>
                <tr>
                    <th class="text-center">Wiadomości</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
                <tbody>
                <label for="avatar">Dodaj małe zdjecie:</label>
                <input type="file"
                       id="avatar" name="avatar"
                       accept="image/png, image/jpeg" onchange="showJPG(this)">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
const toBase64 = file => new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => resolve(reader.result);
    reader.onerror = error => reject(error);
});

    var stompClient = null;
    function showJPG(e){
       let img = e.files[0]

        toBase64(img).then((img) => {
            let nickname = $("#nickname").val()

            send(`${nickname}|${img}`)
        })
    }

    function setConnected(connected) {
        $("#connect").prop("disabled", connected);
    }

    function connect() {
        var socket = new SockJS('/gs-guide-websocket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function (greeting) {
                showmessage(JSON.parse(greeting.body).content);
            });
        });
    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function send(data) {
        stompClient.send("/app/message", {}, JSON.stringify({name: data}));
    }

    function sendName() {
        var nickname = $("#nickname").val()
        var message = $("#name").val()
        if(message.length > 0 ) {
            stompClient.send("/app/message", {}, JSON.stringify({name: nickname + ': ' + message}));
        }
    }
    let s= new Date().getUTCHours()
    let z= new Date().getMinutes()

    function showmessage(message) {
            if (message.indexOf("base64") !== -1) {
                let parts = message.split("|")
                $("#greetings").append("<tr><td>" +" Time: " + s + ":" + z + " " + parts[0] + ": " + "<img src=" + parts[1] + ">"  + "</td></tr>");
                return
            }

            $("#greetings").append("<tr><td>" + "Time: " + s + ":" + z + " " + message + "</td></tr>");
    }


    $(function () {
        $("form").on('submit', function (e) {
            e.preventDefault();
        });
        $( "#connect" ).click(function() { connect(); });
        $( "#disconnect" ).click(function() { disconnect(); });
        $( "#send" ).click(function() { sendName(); });
    });

</script>
</body>
</html>
